{% block dfn_oro_cronofy_auth_widget %}
    {% set options = {
        'authUrl': form.vars.url
    } %}
    <div data-page-component-module="dfnorocronofy/js/app/components/dfn-oro-cronofy-oauth-component"
         data-page-component-options="{{ options|json_encode }}">
        <div class="control-group">
            <div class="controls">
                <div style="margin-top: 10px;" class="cronofy-oauth-holder">
                    <div class="connection-status alert" style="display: none"></div>
                    {% if not oro_config_value('dfn_oro_cronofy.client_id')%}
                        <p>Cronofy integration is not configured. Contact your administrator.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dfn_oro_cronofy_auth_row %}
    {{ block('button_row') }}
{% endblock %}